{% extends 'layout/base.html' %}
{% block title %}
Quản lý học sinh
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Danh sách lớp giáo viên dạy</h1>
    <div class="form-group">
        <label class="mb-2">Tìm kiếm lớp</label>
        <input type="text" class="form-control is-invalid" id="search_class" aria-describedby="emailHelp"
               placeholder="Tìm kiếm lớp...">
        <div class="invalid-feedback">Không tìm thấy lớp</div>
    </div>
    <div class="list-group mt-3" id="classList">
        <div class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center justify-content-between">
                <p class="mb-1">Lớp: 12B1 - Môn : Sử</p>
                <a href="" class="btn btn-info"
                   style="text-decoration:none;color:white">Nhập điểm</a>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="d-flex align-items-center justify-content-between">
                <p class="mb-1">Lớp: 12B1 - Môn : Sử</p>
                <button class="btn btn-secondary disabled" disabled>Quá thời hạn nhập điểm</button>

            </div>
        </div>
    </div>
</div>
{% endblock %}
