<div class="p-4 bg-dark text-white d-flex justify-content-between align-items-center">
    <div class="container p-4">
      <div class="row mt-4">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Giới Thiệu về trang website</h5>
          <p>
           Tạo ra một hệ thống quản lý thông tin học sinh đầy đủ và chính xác Đảm bảo rằng thông tin của các học sinh được lưu trữ và quản lý một cách hiệu quả cho việc quản lý thông tin cá nhân của học sinh .
          </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

          <ul class="fa-ul" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2"> 35 – 37 HỒ HẢO HỚN, PHƯỜNG CÔ GIANG, QUẬN 1, TP. HCM</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">ou@ou.edu.vn.</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">028-38364748.</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">028-39207639 HOẶC 028-39207640</span>
            </li>
          </ul>
        </div>
    </div>
    </div>
</div>