<header class="bg-dark">
    <div class="container-fluid pt-2 pb-2">
        <div class="d-flex justify-content-between">
            <a class="navbar-brand text-white" href="#">Quản lý học sinh</a>
            {% if current_user.is_authenticated %}
                <div class="d-flex align-content-center" style="margin-right: 30px">

                    <a href="/log_out">
                        <i class="fa fa-sign-out text-white icon-header"
                           style="padding: 10px; margin-left: 10px; font-size: 18px;" aria-hidden="true"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</header>