{% extends 'layout/base.html' %}
{% block title %}
    Thông tin lớp học
{% endblock %}
{% block content %}
    <h1 style="text-align: center">Danh sách lớp {{ class_info.grade.value }}A{{ class_info.count }}</h1>
    <div class="d-flex justify-content-between p-5">
        <h2>GVCN: {{ class_info.teacher.user.profile.name }}</h2>
        <h2>Sĩ số: 40</h2>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for s in class_info.students %}
            <tr>
                <th scope="row">{{ s.student.profile.id }}</th>
                <td>{{ s.student.profile.name }}</td>
                <td>{{ s.student.profile.birthday.strftime("%d/%m/%Y") }}</td>
                <td><a class="btn btn-danger" href="/">Xóa</a></td>
            </tr>
        {% endfor %}

        <tr id="add-label">
            <th scope="row"><label for="student"></label></th>
            <td>
                <select class="form-select w-50" id="student" name="student">
                    {% for s in student_no_class %}
                        <option value="male">{{ s.profile.name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td></td>
            <td><a class="btn btn-success" href="/">Thêm</a></td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <button onclick="add()" id="add-btn" class="btn btn-primary">Lưu</button>
    </div>
    <script>
        function add() {
            
        }
    </script>
{% endblock %}