{% extends 'layout/base.html' %}
{% block title %}
    Thêm mới lớp học
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center p-5">
        <p style="margin-top: 16px">Năm học: </p>
        <select class="form-select ms-3 rounded-pill" style="width:150px; height: 40px" id="sel1"
                name="sellist">
            <option id="year">2023 - 2024</option>
        </select>
    </div>
    <div class="d-flex justify-content-between gap-5">
        <div class="px-5 class-list d-flex flex-column gap-2">
            <h2>Danh sách lớp đã tạo</h2>
            <button class="btn btn-success col-sm-5 align-items-end" data-bs-toggle="modal" data-bs-target="#myModal">
                Tạo lớp
            </button>
            <ul class="h4" style="list-style: none">
                {% for class in list_class%}
                    <a style="text-decoration: none;color: black" href="/{{ class.grade.value }}/{{ class.count }}/info"><li>Lớp {{ class.grade.value }}A{{ class.count }} (Giáo viên: {{ class.teacher.user.profile.name }})</li></a>
                {% endfor %}
            </ul>
        </div>
        <div class="px-5 student-list d-flex flex-column gap-2">
            <h2>Danh sách học sinh chưa có lớp</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Ngày sinh</th>
                    <th scope="col">Giới tính</th>
                    <th scope="col">Lớp</th>
                </tr>
                </thead>
                <tbody>
                {% for s in student_no_class %}
                    <tr id="{{ s.id }}">
                        <th scope="row">{{ s.id }}</th>
                        <td>{{ s.profile.name }}</td>
                        <td>{{ s.profile.birthday.strftime("%d/%m/%Y") }}</td>
                        <td>{{ s.profile.gender }}</td>
                        <td>{{ s.grade.value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
   <div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thông tin lớp mới</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="/class/create" method="post">
                    {{ form_create_class.csrf_token }}
                    <div class="mb-3 mt-3">
                        {{ form_create_class.teacher.label(class="form-label") }}
                        {{ form_create_class.teacher(class="form-select") }}
                    </div>
                    <div class="mb-3">
                        {{ form_create_class.grade.label(class="form-label") }}
                        {{ form_create_class.grade(class="form-select") }}
                    </div>
                    <div class="mb-3">
                        {{ form_create_class.class_size.label(class="form-label") }}
                        {{ form_create_class.class_size(class="form-control") }}
                    </div>

                    {{ form_create_class.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>
    </div>
</div>

    <script>
        var year = new Date()
        if (year.getMonth() > 5)
            document.querySelector("#year").innerHTML = `${year.getFullYear()} - ${year.getFullYear() + 1}`
        else
            document.querySelector("#year").innerHTML = `${year.getFullYear() - 1} - ${year.getFullYear()}`
    </script>
    <script>
        if("{{ mse }}" !== "")
            alert("{{ mse }}")
    </script>
{% endblock %}