{% extends 'layout/base.html' %}
{% block title %}
Quản lý học sinh
{% endblock %}
{% block content %}
<div class="px-2"
     style="font-size: 20px; gap: 10px; background-color: #cdd9e7; color: #2c5789; font-weight: bold;">
    <p>Nhập điểm từ hệ thống</p>
    <div class="ms-auto d-flex justify-content-between" style="gap: 10px;">
        <div class="d-flex align-items-center" style="gap:20px;color:#333;">
            <p>Lớp: 12B1</p>
            <p>Môn học: Sử</p>
            <p>Kì học: 2</p>
        </div>
        <div class="action">
            <button class="btn btn-success">Cập nhật điểm</button>
            <button class="btn btn-danger">Xóa nội dung</button>
            <button class="btn btn-primary">Xuất phiếu</button>
        </div>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>STT</th>
        <th>Tên Học Sinh</th>
        <th>Ngày Sinh</th>
        <th>Điểm 15p</th>
        <th>Điểm 1 Tiết</th>
        <th>Điểm Thi</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Ngô Trịnh Minh Tâm</td>
        <td>12/02/2002</td>
        <td>
            <input type="text" class="score" name="score_15p_1" data-validate="score_15p"   required min="0" max="10"
                   style="width: 60px; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
            <input type="text" class="score" name="score_15p_2" data-validate="score_15p" required min="0" max="10"
                   style="width: 60px; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
            <input type="text" class="score" name="score_15p_3" data-validate="score_15p" required min="0" max="10"
                   style="width: 60px; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
            <input type="text" class="score" name="score_15p_4" data-validate="score_15p" required min="0" max="10"
                   style="width: 60px; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
            <input type="text" class="score" name="score_15p_5" data-validate="score_15p" required min="0" max="10"
                   style="width: 60px; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
            <span class="error-message" style="color: red; display: none;">Điểm không được âm</span>
        </td>
        <td>
            <input type="text" class="score" name="score_1_tiet_1" data-validate="score_1_tiet" required min="0" max="10"
                   style="width: 60px; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
            <input type="text" class="score" name="score_1_tiet_2" data-validate="score_1_tiet" required min="0" max="10"
                   style="width: 60px; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
            <input type="text" class="score" name="score_1_tiet_3" data-validate="score_1_tiet" required min="0" max="10"
                   style="width: 60px; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
            <span class="error-message" style="color: red; display: none;">Điểm không được âm</span>
        </td>

        <td><input type="text" name=""
                   style="width: 60px; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
        </td>
    </tr>
    </tbody>
</table>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Cảnh báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="errorMessage">Điểm không được âm. Vui lòng nhập lại.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

