{% extends 'layout/base.html' %}
{% block nav_content %}
	<div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 96px - 56px);">
        <div class="col-lg-6 ">
            <h2 class="text-center mb-2">Đăng nhập</h2>
            <form method="post" action="/login">
                {{ form.csrf_token }}

                <div class="mb-3">
                    <label class="form-label">Tên đăng nhập:</label>
                    {{ form.username(class="form-control") }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Mật khẩu:</label>
                    {{ form.password(class="form-control") }}
                </div>
                <p class="text-warning" id="warning-caps-lock" hidden="hidden"><i class="fa-solid fa-circle-exclamation"></i> Bạn đang bật Caps lock</p>
                {% if mse %}
                    <p class="text-danger">{{ mse }}</p>
                {% endif %}
                <button type="submit" class="btn btn-primary w-100">{{ form.SubmitFieldLogin.label }}</button>
            </form>
        </div>
    </div>
    <script>
                const pwInput = document.getElementById("password")
                const labelWarning = document.getElementById("warning-caps-lock")
                pwInput.addEventListener('keyup',(event)=>{
                    console.log(labelWarning.display)
                    if(event.getModifierState("CapsLock"))
                        labelWarning.removeAttribute("hidden");
                    else{
                        labelWarning.setAttribute("hidden", "hidden");
                    }

                })
    </script>
{% endblock %}