{% extends 'layout/base.html' %}
{% block title %}
    Phân Công Công Việc
{% endblock %}
{% block content %}
    <div>
        <div class="d-flex justify-content-between">
            <h3>Phân công giảng dạy</h3>
            <div class="d-flex">
                <div class="d-flex align-items-center me-3">
                    <p style="margin-top: 16px">Cấp học: </p>
                    <select class="form-select ms-3 p-2 rounded-pill" style="width:130px; height: auto" id="sel1"
                            name="sellist">
                        <option>THPT</option>
                    </select>
                </div>
                <div class="d-flex align-items-center">
                    <p style="margin-top: 16px">Năm học: </p>
                    <select class="form-select ms-3 p-2 rounded-pill" style="width:130px; height: auto" id="sel1"
                            name="sellist">
                        <option>2023 - 2024</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="background-color: #F8F8FF">
            <div class="bg-info p-1 h-auto">
                <h4>Thông tin tìm kiếm</h4>
            </div>
            <form id="form-search" method="post" action="/teacher/assignment">
                <div class="d-flex justify-content-around p-2">
                    <div class="d-flex align-items-center">
                        <label for="grade" class="form-label my-auto fs-6 me-3">Khối lớp: </label>
                        <select class="form-select p-1 rounded-3 fs-6" style="width:200px; height: auto"
                                id="grade"
                                name="grade-list"
                                onchange="get_class_by_grade()">
                            <option selected disabled hidden="true">Chọn khối lớp</option>
                            <option value="10">Khối 10</option>
                            <option value="11">Khối 11</option>
                            <option value="12">Khối 12</option>
                        </select>
                    </div>
                    <div class="d-flex align-items-center">
                        <label for="class-list" class="form-label my-auto fs-6 me-3">Lớp:</label>
                        <select class="form-select p-1 rounded-3 fs-6" style="width:200px; height: auto" id="class-list"
                                name="class-list">
                            <option selected disabled hidden="true">Chọn lớp</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex p-2">
                    <button type="submit" class="btn btn-success rounded-3 px-2 mx-auto" name="form-search-submit">
                        <i class="fa fa-search mr-1" aria-hidden="true"></i>
                        Tìm kiếm
                    </button>
                </div>
            </form>
        </div>

        <form id="assignment-table" method="post" action="/teacher/assignment/{{ grade }}/{{ classname }}">
            <div class="mt-5 px-3 py-3 shadow-lg my-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4>
                            Bảng phân công giảng dạy lớp <strong class="font-italic">{{ classname }}</strong>
                        </h4>
                    </div>
                    <div class="mb-2 fs-5">
                        <button type="submit" class="btn btn-danger px-3 mx-2" name="type" value="delete">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            Xóa phân công
                        </button>
                        <button type="submit" class="btn btn-info px-3" name="type" value="save">
                            <i class="fas fa-save"></i>
                            Lưu
                        </button>
                    </div>
                </div>
                <div class="text-center">
                    <div class="row">
                        <div class="col col-sm-1 p-2 bg-info border "><strong>STT</strong></div>
                        <div class="col col-md-2 p-2 bg-info border "><strong>Môn học</strong></div>
                        <div class="col col-md-5 p-2 bg-info border "><strong>Giáo viên</strong></div>
                        <div class="col col-sm-2 p-2 bg-info border "><strong>Áp dụng cả 2 học kỳ</strong></div>
                        <div class="col col-sm-1 p-2 bg-info border "><strong>Học kỳ 1</strong></div>
                        <div class="col col-sm-1 p-2 bg-info border "><strong>Học kỳ 2</strong></div>
                    </div>
                    {% for subject in subjects %}
                        <div class="row" id="{{ subject.id }}">
                            <div class="col col-sm-1 border py-2">{{ subject.id }}</div>
                            <div class="col col-md-2 border py-2">{{ subject.name }}</div>
                            <div class="col col-md-5 border py-2 text-center">
                                <select class="form-select p-1 rounded-3 fs-6 w-100 h-auto " id="teacher"
                                        name="teacher-assigned-{{ subject.id }}">
                                    <option selected disabled hidden="true">Chọn giáo viên</option>
                                    {% for teacher in teachers %}
                                        <option id="teacher-{{ teacher.user.profile.id }}"
                                                value="{{ teacher.user.profile.id }}">ID: {{ teacher.user.profile.id }}
                                            | {{ teacher.user.profile.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col col-sm-2 border d-flex py-2 justify-content-center align-items-center">
                                <input class="form-check-input" type="checkbox" name="total-seme-{{ subject.id }}"
                                       id="total-seme-{{ subject.id }}"
                                       onchange="check_semeter({{ subject.id }}, 'total')">
                            </div>
                            <div class="col col-sm-1 border d-flex py-2 justify-content-center align-items-center">
                                <input class="form-check-input" type="checkbox" name="seme1-{{ subject.id }}"
                                       id="seme1-{{ subject.id }}"
                                       onchange="check_semeter({{ subject.id }}, 'part')">
                            </div>
                            <div class="col col-sm-1 border d-flex py-2 justify-content-center align-items-center">
                                <input class="form-check-input" type="checkbox" name="seme2-{{ subject.id }}"
                                       id="seme2-{{ subject.id }}"
                                       onchange="check_semeter({{ subject.id }}, 'part')">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='/js/assignments.js') }}"></script>
    <script>
        function load_assignment() {
            {% for p in plan %}
                var row_subject = document.getElementById("{{ p.subject_id }}")
                var teacher = row_subject.querySelector("#teacher-{{ p.teacher_id }}")
                var seme1 = row_subject.querySelector("#seme1-{{ p.subject_id }}")
                var seme2 = row_subject.querySelector("#seme2-{{ p.subject_id }}")
                teacher.selected = true
                if ({{ p.semester_id }} === 1) {
                    seme1.checked = true
                    check_semeter({{ p.subject_id }}, 'part')
                } else {
                    seme2.checked = true
                    check_semeter({{ p.subject_id }}, 'part')
                }
            {% endfor %}
        }

        load_assignment()
    </script>
{% endblock %}
