<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Xem Điểm</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
</head>
<body>

<header class="bg-dark">
    <div class="container-fluid pt-2 pb-2">
        <div class="d-flex justify-content-between">
            <a class="navbar-brand text-white" href="#"></a>
            <div class="d-flex" style="margin-right: 30px">
                <div>
                    {% if profile_student_view_score %}
                        <span class="text-white fs-5">Chào học sinh {{ profile_student_view_score[1] }}</span>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</header>
<div class="container shadow-md d-flex gap-3 mt-2">
    <div class="p-3 rounded-3 flex-grow-1" style="width:300px;background-color:#1668b3;">
        <p style="color:white">Tra cứu kết quả học tập</p>
        <form action="/view_score" method="post">
            <label for="basic-url" style="color:white" class="form-label fs-6">Nhập số điện thoại</label>
            <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon3">+84</span>
                <input type="text" class="form-control" name="student_phone_number" id="check-student"
                   aria-describedby="basic-addon3">
        </div>

            <button class="btn btn-success" id="btnCheckPhoneNumber" style="color:white">Xác nhận</button>
            <div id="form-valid-OTP">
                <label for="validOTP" style="color:white" class="form-label">Nhập OTP</label>
                <div class="mb-2">
                    <input type="number" id="validOTP" class="form-control" aria-describedby="passwordHelpBlock">
                    <span class="" style="color:white;">Gửi lại <span class="m"
                                                                      style="cursor:pointer;text-decorator:underline">OTP</span></span>
                </div>
            <button class="btn btn-success" type="submit" id = "btnSubmitOTP" style="color:white">Xác nhận OTP</button>
            </div>
        </form>

    </div>
    <div class="p-3 shadow-sm flex-grow-1" style="width:700px">
        <p>Để tra cứu điểm của học sinh <span style="font-weight:bold">Minh Tâm</span> vui lòng chọn kì học</p>
        <label for="termSelect" style="color:#1668b3" class="form-label">Chọn kì học:</label>
        <form method="GET" action="/view_score">
            <select class="form-select" name="semester_id">
                {% for s in semester %}
                    <option value="{{ s.id }}">{{ s.semester_name }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-info mt-2" id="btnSemester" style="color:white">Xác nhận</button>
        </form>
        <div>
            <div class="container mt-3">
                {% if processed_scores %}
                    <p class="text-center">Kết quả học tập của Minh Tâm học {{ selected_semester.semester_name }}</p>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Môn học</th>
                            <th scope="col">Điểm 15p</th>
                            <th scope="col">Điểm 1 Tiết</th>
                            <th scope="col">Điểm Thi</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for subject, scores in processed_scores.items() %}
                            <tr>
                                <td rowspan="">{{ subject }}</td>
                                <td>
                                    {% for item in scores['15_minute'] %}
                                        {{ item }}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for item in scores['45_minute'] %}
                                        {{ item }}
                                    {% endfor %}
                                </td>
                                <td>{{ scores.final_points }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h1 class="text-center">Học kì chưa cập nhật điểm.</h1>
                {% endif %}

            </div>

        </div>
    </div>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const btnSemester = document.getElementById("btnSemester")
        const phoneNumberInput = document.getElementById("check-student");
        const otpForm = document.getElementById("otpForm");
        const btnCheckPhoneNumber = document.getElementById("btnCheckPhoneNumber");
        const btnSubmitOTP = document.getElementById("btnSubmitOTP")
        const validOtp = document.getElementById("validOTP")
        const formValidOTP = document.getElementById("form-valid-OTP")
        formValidOTP.style.display = "none"
        let randomOTP = 0;

        btnCheckPhoneNumber.addEventListener("click", function (e) {
            e.preventDefault();
            if (phoneNumberInput.value !== "") {
                btnCheckPhoneNumber.style.display = "none"
                randomOTP = Math.floor(Math.random() * 1000);
                formValidOTP.style.display = "block";
                console.log(randomOTP);
            }
        });

        btnSubmitOTP.addEventListener("click", function (e) {
            e.preventDefault();
            if (validOtp.value.trim() === randomOTP.toString()) {
                window.stop()
            } else {
                console.log("OTP không chính xác");
            }
        });
    });
    btnSemester.addEventListener("click", function (e) {
        e.preventDefault()
    })
</script>


</body>
</html>
