{% extends 'layout/base.html' %}
{% block title %}
    Quản lý học sinh
{% endblock %}
{% block content %}
    <div class="mt-3">
        <div class="shadow py-3 px-3 bg-white mb-3">
            <h5>Quy định về chức năng</h5>
            <span style="color: gray;">Quản lý các quy định về các chức năng của hệ thống</span>
        </div>
        <div class="shadow p-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tên quy định</th>
                    <th scope="col">Giá trị</th>
                </tr>
                </thead>
                <tbody>
                {% for r in regulations %}
                    <tr>
                        <td>{{ r.id }}</td>
                        <td>{{ r.regulation_name }}</td>
                        <td>
                            <span>Giá trị tối thiểu:</span>
                            <span style="color: red; font-weight: bold;">{{ r.min }}</span>
                            <span> - </span>
                            <span>Giá trị tối đa:</span>
                            <span style="color: red; font-weight: bold;">{{ r.max }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
