<header class="bg-dark">
    <div class="container-fluid pt-2 pb-2">
        <div class="d-flex justify-content-between">
            <a class="navbar-brand text-white" href="#">Quản lý học sinh</a>
            <div class="d-flex" style="margin-right: 30px">
                <div>
                    <img
                            src="https://github.com/mdo.png"
                            alt="hugenerd"
                            class="rounded-circle"
                            style="margin-right: 5px; width:40px; height:40px"
                    />
                    <span class="text-white">Username </span>
                </div>
                <div>
                    <i class="fa fa-sign-out text-white icon-header"
                       style="padding: 10px; margin-left: 10px; font-size: 18px;" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</header>