{% extends 'admin/master.html' %}

{% block body %}
    <h1 class="text-center">Chào mừng tới trang quản trị</h1>

    {% if current_user.is_authenticated %}
        <h1 class="text-success text-center">Chào mừng trở lại, {{ current_user.username }}</h1>
    {% else %}
        <h1 class="text-info mt-1 text-center">Đăng nhập người dùng</h1>
        <form method="post" action="/login">
            <div class="form-group mb-3 mt-3">
                <label for="username">Tên đăng nhập</label>
                <input required type="text" class="form-control" id="username" placeholder="Tên đăng nhập"
                       name="username">
            </div>

            <div class="form-group mt-3 mb-3">
                <label for="password">Mật khẩu</label>
                <input required type="password" class="form-control" id="password" placeholder="Mật khẩu"
                       name="password">
            </div>
            <div class="form-group mt-3 mb-3">
                <button class="btn btn-success" type="submit">Đăng nhập</button>
            </div>
        </form>
    {% endif %}


{% endblock %}